<!DOCTYPE html>
<html>
<head>
    <title>AI Medical Imaging</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1 class="title">AI Medical Imaging Suite</h1>

<div class="card-container">

    <a href="/tb" class="card active">
        <h2>🫁 Tuberculosis</h2>
        <p>Chest X-ray TB Detection</p>
    </a>

    <div class="card disabled">
        <h2>🦠 Corona</h2>
        <p>Coming Soon</p>
    </div>

    <div class="card disabled">
        <h2>🧬 Cancer</h2>
        <p>Coming Soon</p>
    </div>

    <div class="card disabled">
        <h2>🦴 Bone Fracture</h2>
        <p>Coming Soon</p>
    </div>

    <div class="card disabled">
        <h2>💀 Skull Fracture</h2>
        <p>Coming Soon</p>
    </div>

</div>

</body>
</html>
